/**/
.parent  {
  width: 600px;
  border: 1px solid black;
  text-align: justify;
  padding: 20px;
  margin: 0 auto;
}

.child  {
  float: right;
  width: 100px;
  height: 70px;
  border: 1px solid green;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}
