/*Теория.
Проникновение плавающих элементов через теги.
*/
.elem  {
  width: 400px;
  border: 1px solid red;
  text-align: justify;
}

#elem  {
  float: left;
}/*Картинка залазиет и на второй абзац.*/


/*Теория.
Сочетание float и margin.
*/
.elem1  {
  width: 400px;
  border: 1px solid red;
  text-align: justify;
}

#elem11  {
  margin-left: 30px;
  border: 1px solid green;
}

#elem1  {
  float: left;
  opacity: 0.5;/*Прозрачность.*/
}/*Картинка отступает вместе с абзацами.*/


/*Теория.
Сочетание float и padding.
*/

.elem2  {
  width: 400px;
  border: 1px solid red;
  text-align: justify;
}

#elem21  {
  margin-left: 30px;
  padding-left: 30px;
  border: 1px solid green;
}

#elem2  {
  float: left;
  margin-right: 30px;
  opacity: 0.5;
}