/*Задание 1.
Сделайте все ссылки в состоянии :hover красными и неподчеркнутыми, в состоянии :link - голубыми, в состоянии :visited - зелеными, в состоянии :active - черными.
*/

a:link  {
  color: blue;
}

a:visited  {
  color: green;
}

a:active  {
  color: black;
}