/* Задание 1
Расскажите, какого размера будут заголовки после выполнения следующего кода. */

h2  {
  font-size: 20px;
}

h2  {
  font-size: 30px; 
}

/*Задание 2.
Расскажите, какие своймтва применятся к заголовкам и какие будут значения этих свойств.
*/

h3  {
  font-size: 20px;
  color: blue;
}

h3  {
  font-style: italic;
  color: red;
}