/* Урок 4. Установите таблице ширину в 500px, а высоту в 300px. Сделайте ячейки td жирными и по центру, а ячейки th - нежирными. */

table  {
  width: 500px;
  height: 300px;
}

td  {
  font-weight: bold;
  text-align: center;
}

th  {
  font-weight: normal;
}

/* Урок 5. Сделайте так, чтобы все заголовки h2 на вашей странице были курсивными.*/

h2  {
  font-style: italic;
}

/* Урок 6. Установите заголовку h1 размер шрифта в 50px и выравнивание по центру, заголовкам h3 размер шрифта в 40px и отмените жирность, а абзацам установите шрифт в 30px.*/

h1  {
  text-align: center;
  font-size: 50px;
}

h3  {
  font-size: 40px;
  font-weight: normal;
}

p  {
  font-size: 30px;
}

/* Урок 7. Опробуйте рабуйте работу всех шрифтров из приведённых выше списка.*/

h1  {
  font-family: Arial;
}

h2  {
  font-family: Georgia;
}

h3  {
  font-family: Verdana;
}

p  {
  font-family: Impact;
}

/* Урок 8.Пусть размер шрифта для абзацев равен 30px (в уроке 6 установлен размер шрифта 30рх). Установите свойство line-height так, чтобы видимый белый промежуток между абзацами был равен 15px. Используйте для этого значение line-height без единиц. */

p  {
  line-height: 0,5;
}