/*Задание 1.
Напишите селектор, который выберет все h2, находящиеся в элементе с id, равным elem1. Проверьте ваш селектор на следующем коде:*/

#elem1 h2  {
  color: blue;
}

/*Задание 2.
Напишите селектор, который выберет все элементы с классом text, находящиеся в элементе с id, равным elem2. Проверьте ваш селектор на следующем коде:*/

#elem2 .text  {
  color: brown;
}

/*Задание 3.
Напишите селектор, который выберет все абзацы с классом text, находящиеся в элементе с id, равным elem3. Проверьте ваш селектор на следующем коде:*/

#elem3 p.text  {
  color: chocolate;
}

/*Задание 4.
Напишите селектор, который выберет все li с классом text, находящиеся в элементе с id, равным elem4. Проверьте ваш селектор на следующем коде:*/

#elem4 li.text  {
  color: darkred;
  font-size: 30px;
}