/* Задание 1.
Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:

p.bbb {
	color: red;
}
Селектор выбирает все абзацы с классом .bbb и окрашивает их в красный цвет.

Задание 2.
Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:

p .bbb {
	color: red;
}
Селектор выбирает все элементы с классом .bbb в абзаце и окрашивает их в красный цвет.
*/
/* Задание 3.
Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:

.eee p.bbb {
	color: red;
}
Выбирает все абзацы с классом .bbb внутри класса .eee.
*/

.eee p.bbb {
	color: red;
}

/* Задание 4.
Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:

.eee p .bbb {
	color: red;
}
Выбирает все элементы с классом .bbb в абзацах которые находится внутри класса .eee
*/

.eee p .bbb {
	color: red;
}