/* Задание 1.
Расскажите, что выбирает селектор в приведённом ниже коде. Затем напищите HTML код , подходящий под этот селектор.
*/

a  {
  color:red;
}

a:hover  {
  text-decoration: none;
}
/*Код выбирает все ссылки окрашивая их состояния в красный цвет и отменяет их декорирование.
*/

/* Задание 2.
Расскажите, что выбирает селектор в приведённом ниже коде. Затем напишите HTML код, подходящий под этот селектор. 
*/

a.zzz  {
  color: red;
}

a.zzz:hover  {
  text-decoration: none;
}
/*Код выбирает все ссылки с классом .zzz окрашивает их состояния в красный цвет и отменяет декорирование.
*/

/* Задание 3.
Расскажите, что выбирает селектор в приведённом ниже коде. Затем напишите HTML код, подходящий под этот селектор.
*/

#block a.zzz  {
  color: red;
}

#block a.zzz:hover  {
  text-decoration: none;
}
/*Код выбирает все ссылки с кассом .zzz находящиеся в идентификаторе равным #block
окрашивает их состояния в крассный цвет и отменяет декорирование. 
*/

/* Задание 4.
Расскажите, что выбирает селектор в приведённом ниеже коде. Затем напишите HTML код, подходящий под этот селектор.
*/

.block a.zzz  {
  color: red;
}

.block a.zzz:hover  {
  text-decoration: none;
}
/*Код выбирает все ссылки с классом .zzz находящиеся в классе .block. Окрашивает их в состояния в красный цвет и отменяет декорирование.
*/