/*Задание.
Возьмите длинный текст. Всавьте в начало текста одну картинку, а другую в середину-другую. Сделайте так, чтобы первая картинка плавала слева, а вторая-справа.*/

div  {
  position: absolute;
  width: 400px;
  text-align: justify;
}

#elem  {
  float: left;
}

#elem1  {
  float: right;
}
