/* Задание 1.
Напишите селектор, который выберет все li, кроме li с классом elem.*/

.ooo li:not(.elem)  {
  color: red;
}

/* Задание 2.
Напишите селектор, который выберет все li, кроме первой.*/

.pep li:not(:first-child)  {
  color: green;
}

/* 
Напишите селектор, который выберет все li, кроме первой и последней.*/

.yyy li:not(:first-child,:last-child)  {
  color: blue;
}