#elem  {
  width: 200px;
  height: 200px;
  border: 1px solid green;
  border-radius: 30px;
}

#elem1  {
  border-radius: 30px;
  width: 200px;
  height: 200px;
  background-color: rgb(80, 218, 142);
}

#elem2  {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 1px solid green
}