/*
Урок 16. Задание 1.
Дан следующий код:

<ul>
	<li class="odd">пункт</li>
	<li class="eve">пункт</li>
	<li class="odd">пункт</li>
	<li class="eve">пункт</li>
	<li class="odd">пункт</li>
	<li class="eve">пункт</li>
</ul>
Покрасьте в красный цвет элементы с классом odd и в зеленый цвет - элементы с классом eve.
</ul>
*/

.odd  {
  color: red;
}

.eve  {
  color: green;
}

/*Задание 2
Покрасьте в красный цвет все элементы с классом eee.*/

.eee  {
  color: red;
}

/*задание 3
Объясните, почему в предыдущей задаче в красный цвет красятся теги li, хотя класс, задающий цвет, назначен тегу ul. 
Потому, что тег li является потомком класса ul и наследует его свойства*/