/*Урок 14
Упростите код, используя группировку селекторов

h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
h3 {
	text-align: center;
}

Упростите код, используя группировку селекторов
h1 {
	text-align: center;
}
h2 {
	text-align: center;
	color: blue;
}
h3 {
	text-align: center;
	font-size: 16px;
	color: red;
}

Упростите код, используя группировку селекторов:
h1 {
	text-align: center;
	color: red;
}
h2 {
	text-align: center;
	color: red;
}
h3 {
	text-align: center;
	font-size: 16px;
	color: blue;
}
*/

h1, h2, h3  {
  text-align: center;
}

h2  {
  color: red;
}

h3 {
  color: blue;
  font-size: 16px;
}

/*Дан следующий код:

<ul>
	<li>пункт <i>курсив</i></li>
	<li>пункт <i>курсив</i></li>
	<li>пункт <i>курсив</i></li>
	<li>пункт <i>курсив</i></li>
</ul>

<p>
	текст абзаца <i>курсив</i>
</p>
<p>
	текст абзаца <i>курсив</i>
</p>
Покрасьте в красный цвет курсив из тегов ul, а в зеленый цвет - курсив из тегов p.
*/

ul i  {
  color: red;
}

p i  {
  color: green;
}

/*Дан следующий код:

<p>
	текст абзаца <b><i>жирный курсив</i></b>
</p>
<p>
	текст абзаца <i>курсив</i>
</p>
Покрасьте в красный цвет курсив, находящийся внутри тега b, который в свою очередь находится внутри тега p.
*/

p b i  {
  color: red;
}

ol  {
  font-style: italic; /*просто раз уж написал*/
}