/* Задание 1.
Напишите код, демонстрирующий работу описанных псевдоклассов.*/
h2:first-of-type  {
  color: red;
}

h1:last-of-type  {
  color: green;
}


/* Задание 2.
Напишите код, демонстрирующий работу описанных псевдоклассов.*/
h3:nth-of-type(2)  {
  color: blue;
}

p:nth-last-of-type(3)  {
  color: blueviolet;
}


/* Задание 3.
Напишите код, демонстрирующий работу описанного псевдокласса.*/
li:only-of-type  {
  font-size: 22px;
}