/*
Пусть у вас даны следующие классы:

.success {
	color: green;
}
.error {
	color: red;
}
.large {
	font-size: 30px;
}
.small {
	font-size: 20px;
}
Пусть у вас также есть 4 абзаца. С помощью представленных классов сделайте так, чтобы первый абзац был зеленый и с большим шрифтом, второй абзац - красным и с маленьким шрифтом, третий абзац - красным и с большим шрифтом, а четвертый - зеленым и с маленьким шрифтом.
*/

.success {
	color: green;
}
.error {
	color: red;
}
.large {
	font-size: 30px;
}
.small {
	font-size: 20px;
}

/*
Придумайте и сделайте 3 какие-нибудь класса. Задайте какому-нибудь тегу одновременно все три придуманных вами класса.
*/

.tyur  {
  color: brown;
}

.gret  {
  font-size: 30px;
}

.corby  {
  text-align: center;
}