/*Урок 17.
Сделайте элементы с классом xxx размером в 30px.
*/

.xxx  {
  font-size: 30px;
}

/*Урок 18. Задание 1.
Покрасьте содержимое первого дива в красный цвет, содержимое второго дива - в зеленый, а содержимое третьего дива - в голубой. Задайте для этого каждому диву свой класс.
*/

.wew  {
  color: red;
}

.grg {
  color: green;
}

.uuu  {
  color: blue;
}

/*Задание 2.
Покрасьте содержимое первого и третьего дива в красный цвет, содержимое второго дива и четвертого - в зеленый. Для этого первому и третьему дивам дайте один класс, а второму и четвертому - другой класс.
*/

.eer, .ttt  {
  color: red;
}

.qqq, .ede  {
  color: green;
}