/*Определите к какой блочной модели относятся теги p

Определите к какой блочной модели относятся теги b

Определите к какой блочной модели относятся теги h2

Определите к какой блочной модели относятся теги h3

Определите к какой блочной модели относятся теги i

Определите к какой блочной модели относятся теги a*/

#a7 p,b,h2,h3,i,a   {
  width: 100px;
	height: 100px;
	border: 1px solid red;
}