/*Задание 1.
Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:

.bbb.zzz {
	color: red;
}
Селектор выбирает элементы одновременно имеющие классы bbb и zzz.
*/

.bbb.zzz  {
  color: red;
}

/*Задание 2.
Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:

h2.bbb.zzz {
	color: red;
}
Селектор выбирает заголовки h2 имеющие одновремменно классы bbb и zzz.
*/

h2.bbb.zzz  {
  color: red;
}

/*Задание 3.
Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:

#elem.bbb {
	color: red;
}
Селектор выбирает заголовки h2 имеющие класс bbb и id равным elem одноаременно.
*/

#elem.bbb {
	color: red;
}

/*Задание 4.
Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:

#elem.bbb.zzz {
	color: red;
}
Селектор выбирает элементы с id равным elem и классами bbb и zzz одновременно.
*/

#elem.bbb.zzz  {
	color: red;
}

/*Задание 5.
Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:

h2#elem.bbb {
	color: red;
}
Селектор выбирает заголовки h2 имеющие id равным elem и класс bbb одновременно.
*/

h2#elem.bbb  {
	color: red;
}

/*Задание 6.
Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:

h2.zzz {
	color: red;
}
Селектор выбирает заголовки h2 имеющие класс zzz.
*/

h2.zzz  {
	color: red;
}

/*Задание 7.
Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:

h2 .zzz {
	color: red;
}
Селектор выбирает все элементы с классом zzz находящиеся в заголовке h2.
*/

h2 .zzz  {
	color: red;
}

/*Задание 8.
Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:

.bbb.zzz {
	color: red;
}
Селектор выбирает элементы имеющие классы bbb и zzz одновременно.
*/

.bbb.zzz  {
	color: red;
}

/*Задание 9.
Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:

.bbb .zzz {
	color: red;
}
Селектор выбирает элементы с классом zzz находящиеся в классе bbb.
*/

.bbb .zzz  {
	color: red;
}

/*Задание 10.
Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:

.bbb.zzz.xxx {
	color: red;
}
Селектор выбирает элементы классами bbb, zzz и xxx одновременно.
*/

.bbb.zzz.xxx {
	color: red;
}

/*Задание 11.
Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:

.bbb .zzz.xxx {
	color: red;
}
Селектор выбирает элементы имеющие классы zzz и xxx одновременно и находящиеся в классе bbb.
*/

.bbb .zzz.xxx  {
	color: red;
}

/*Задание 12.
Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:

.bbb.zzz .xxx {
	color: red;
}
Селектор выбирает элементы с классом xxx находящимся в элементе с классами bbb и zzz одновременно.
*/

.bbb.zzz .xxx  {
	color: red;
}

/*Задание 13.
Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:

.bbb .zzz .xxx {
	color: red;
}
Селектор выбирает элемент с классом xxx находящимся в классе zzz который находится в свою очередь в классе bbb.
*/

.bbb .zzz .xxx  {
	color: red;
}

/*Задание 14.
Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:

#elem.bbb {
	color: red;
}
Селектор выбирает элементы с id равным elem и классом bbb одновременно.
*/

#elem.bbb  {
	color: red;
}

/*Задание 15.
Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:

#elem .bbb {
	color: red;
}
Селектор выбирает элементы с классом bbb находящиеся в элементе c id равным elem. 
*/

#elem .bbb  {
	color: red;
}


