/*Задание 1
Упростите код, используя группировку селекторов.

#block h1  {
  text-align: center;
}
#block h2  {
  text-align: center;
}
*/

#block h1, #block h2  {
  text-align: center;
}

/*Задание 2.
Упростите код, используя группировку селекторов:

#block1 h1 {
	text-align: center;
	font-size: 30px;
}
#block1 h2 {
  text-align: center;
	font-size: 20px;
}
*/

#block1 h1, #block1 h2  {
  text-align: center;
}

#block1 h1 {
	font-size: 30px;
}
#block1 h2 {
	font-size: 20px;
}

/*Задание 3.
Упростите код, используя группировку селекторов:

#block2 h1 {
	text-align: center;
}
#block2 h2 {
	text-align: center;
	color: blue;
}
#block2 h3 {
	text-align: center;
	font-size: 16px;
	color: red;
}
*/

#block2 h1, #block2 h2, #block2 h3  {
	text-align: center;
}
#block2 h2 {
	color: blue;
}
#block2 h3 {
	font-size: 16px;
	color: red;
}

/*Задание 4.
Упростите код, используя группировку селекторов:

#block3 h1.eee {
	text-align: center;
	font-size: 30px;
}
#block3 h2.zzz {
	text-align: center;
	font-size: 20px;
}
*/

#block3 h1.eee, #block3 h2.zzz  {
  text-align: center;
}
#block3 h1.eee {
	font-size: 30px;
}
#block3 h2.zzz {
	font-size: 20px;
}

/*Задание 5
Упростите код, используя группировку селекторов:

.xxx .kkk {
	text-align: center;
}
.eee h2.zzz {
	text-align: center;
}
#eee h2 {
	text-align: center;
}
*/

.xxx .kkk, .eee h2.zzz, #eee h2  {
	text-align: center;
}

/*Задание 6.
Упростите код, используя группировку селекторов:

.eee h2.zzz {
	text-align: center;
}
.xxx {
	text-align: center;
}
*/

.eee1 h2.zzz1, .xxx1  {
	text-align: center;
}